@media (max-width: 1400px){
    .videos-horizontal {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    

    .all-photos {
        width: 100%;
        margin: 0px;
        padding: 0;
        margin-bottom: 15px;
    }    
}